In [3]:
swSchools <- read.csv("./Social Welfare Schools.csv")

In [4]:
head(swSchools)

  Districts    Scheduled.Castes.Schools Scheduled.Castes.Students
1 ADILABAD     4                        1484
2 BHADRADRI    9                        3295
3 HYDERABAD    4                        1954
4 JAGTIAL      5                        1140
5 JANGAON      5                        2695
6 JAYASHANKAR  6                        1613
  Scheduled.Tribes.School Scheduled.Tribes.Students Backward.Classes.School
1 6                       2047                      1
2 9                       2960                      0
3 0                          0                      0
4 0                          0                      0
5 1                         97                      0
6 4                        984                      1
  Backward.Classes.Students Minorities.School Minorities.Students
1 354                       2                  230
2   0                       2                  440
3   0                       8                 1197
4   0                       2                  407
5   0                       1                  111
6 153                       0                    0