In [2]:
swSchools <- read.csv("./Social Welfare Schools.csv")

In [3]:
head(swSchools)

  Districts    Scheduled.Castes.Schools Scheduled.Castes.Students
1 ADILABAD     4                        1484
2 BHADRADRI    9                        3295
3 HYDERABAD    4                        1954
4 JAGTIAL      5                        1140
5 JANGAON      5                        2695
6 JAYASHANKAR  6                        1613
  Scheduled.Tribes.School Scheduled.Tribes.Students Backward.Classes.School
1 6                       2047                      1
2 9                       2960                      0
3 0                          0                      0
4 0                          0                      0
5 1                         97                      0
6 4                        984                      1
  Backward.Classes.Students Minorities.School Minorities.Students
1 354                       2                  230
2   0                       2                  440
3   0                       8                 1197
4   0                       2                  407
5   0                       1                  111
6 153                       0                    0

In [5]:
str(swSchools)

'data.frame':	31 obs. of  9 variables:
 $ Districts                : Factor w/ 31 levels "ADILABAD","BHADRADRI",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Scheduled.Castes.Schools : int  4 9 4 5 5 6 6 12 8 14 ...
 $ Scheduled.Castes.Students: int  1484 3295 1954 1140 2695 1613 1626 5462 3185 5394 ...
 $ Scheduled.Tribes.School  : int  6 9 0 0 1 4 0 4 0 3 ...
 $ Scheduled.Tribes.Students: int  2047 2960 0 0 97 984 0 703 0 353 ...
 $ Backward.Classes.School  : int  1 0 0 0 0 1 0 0 2 2 ...
 $ Backward.Classes.Students: int  354 0 0 0 0 153 0 0 499 844 ...
 $ Minorities.School        : int  2 2 8 2 1 0 1 2 3 3 ...
 $ Minorities.Students      : int  230 440 1197 407 111 0 119 336 529 630 ...

In [4]:
summary(swSchools)

        Districts  Scheduled.Castes.Schools Scheduled.Castes.Students
 ADILABAD    : 1   Min.   : 4.000           Min.   :1140
 BHADRADRI   : 1   1st Qu.: 6.000           1st Qu.:1807
 HYDERABAD   : 1   Median : 8.000           Median :3155
 JAGTIAL     : 1   Mean   : 8.452           Mean   :3098
 JANGAON     : 1   3rd Qu.:11.000           3rd Qu.:3872
 JAYASHANKAR : 1   Max.   :17.000           Max.   :5908
 (Other)     :25
 Scheduled.Tribes.School Scheduled.Tribes.Students Backward.Classes.School
 Min.   :0.000           Min.   :   0.0            Min.   :0.0000
 1st Qu.:0.500           1st Qu.:  30.0            1st Qu.:0.0000
 Median :3.000           Median : 564.0            Median :1.0000
 Mean   :2.871           Mean   : 707.1            Mean   :0.7419
 3rd Qu.:4.000           3rd Qu.: 967.5            3rd Qu.:1.0000
 Max.   :9.000           Max.   :2960.0            Max.   :3.0000

 Backward.Classes.Students Minorities.School Minorities.Students
 Min.   :   0.0            Min.   :0.00      Min.   :   0.0
 1st Qu.:   0.0            1st Qu.:1.00      1st Qu.: 218.5
 Median : 153.0            Median :2.00      Median : 336.0
 Mean   : 267.2            Mean   :2.29      Mean   : 405.0
 3rd Qu.: 423.0            3rd Qu.:3.00      3rd Qu.: 545.0
 Max.   :1172.0            Max.   :8.00      Max.   :1255.0